* {
	box-sizing: border-box;
}

html, body {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 100%;

	text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	backface-visibility: hidden;

	line-height: normal;

	background-color: #212121;
	overflow: hidden;

	@media (max-width: 768px) {
		overflow-y: visible;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}
}

body {
	
	&.hidden-scroll { overflow: hidden; }
}

.clearfix {

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.fix-image {
	width: 100%;
	height: auto;
}

a { text-decoration: none; }

.left { float: left; }
.right { float: right; }

.app {

	.wrapper {
		height: 100%;
		min-height: 100%;
		position: relative;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 2%;
		overflow: hidden;

		&.no-hidden {
			overflow: visible;
		}
	}

	.navbar {
		position: relative;
		margin: 50px 0 50px;
		padding: 0 50px;
		overflow: hidden;

		@media (max-width: 768px) {
			margin: 50px 0 30px;
		}

		.logo {
			font-family: 'lato-bold';
			font-size: 35px;
			
			background: linear-gradient(to bottom right, #f43b47 0%, #453a94 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			@media (max-width: 768px) {
				display: block;
				width: 100%;
				text-align: center;
			}
		}

		.menu-button {
			position: relative;
			display: block;
			width: 30px;
			height: 20px;
			float: right;
			margin: 10px 0;
			z-index: 2;

			@media (max-width: 768px) {
				display: none;
			}

			.line {
				display: block;
				width: 100%;
				height: 2px;
				background-color: $white;
				position: absolute;
				left: 0;
				transition: all .3s ease-in-out;
				opacity: 1;

				&.line_1 {
					top: 0;
				}

				&.line_2 {
					top: 50%;
					margin-top: -1px;
				}

				&.line_3 {
					bottom: 0;
				}
			}

			&.active {
				
				.line_1 {
					top: 9px;
					transform: rotate(40deg);
				}

				.line_2 {
					transform: translate(-50px);
					opacity: 0;
				}

				.line_3 {
					bottom: 9px;
					transform: rotate(-40deg);
				}
			}
		}
	}

	.sidebar {
		display: table;
		position: absolute;
		top: 0;
		right: -300px;
		width: 300px;
		height: 100vh;
		z-index: 1;
		background-color: rgba(0, 0, 0, 1);
		opacity: 0;
		transition: all .4s ease-in-out;

		@media (max-width: 768px) {
			display: none;
		}

		&.visible {
			opacity: 1;
			right: 0;

			.menu {
				opacity: 1;
			}
		}

		.menu {
			width: 100%;
			display: table-cell;
			vertical-align: middle;
			opacity: 0;
			transition: .5s ease-in-out;
			transition-delay: .4s;

			&__item {
				display: block;
				color: $white;
				font-family: 'lato-light';
				font-size: 18px;
				margin-bottom: 15px;
				text-align: center;
			}
		}
	}

	.section {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;

		@media (max-width: 768px) {
			position: relative;
			top: auto;
			left: auto;
			transform: none;
			padding: 0 20px;
		}

		&.hide {
			display: none;
		}
	}

	.title {
		color: $white;
		display: block;
		font-family: 'lato-light';
		font-size: 33px;

		@media (max-width: 768px) {
			font-size: 24px;
		}

		&.small {
			font-size: 25px;

			@media (max-width: 768px) {
				font-size: 18px;
				text-align: center;
			}
		}

		&.center {
			text-align: center;
		}
	}

	.buttons-list {
		display: block;
		overflow: hidden;

		&.mt50 {
			margin: 50px 0 0;
		}

		&.center {
			text-align: center;
		}

		&__item {
			display: inline-block;
			margin: 0 10px;
			width: 200px;
			height: 55px;
			border-radius: 8px;
			color: $white;
			line-height: 55px;
			font-family: 'lato-light';
			font-size: 18px;
			text-align: center;
			background-image: linear-gradient(to bottom right, #f43b47 0%, #453a94 100%);
			box-shadow: 0 0 30px rgba(0, 0, 0, .15);

			@media (max-width: 768px) {
				margin-bottom: 10px;
			}

			&.no-margin {
				margin: 0;
			}
		}
	}

	.back {
		font-family: 'lato-light';
		font-size: 16px;
		color: $white;
		margin-top: 50px;
		display: inline-block;

		@media (max-width: 768px) {
			margin: 50px auto;
			display: block;
			width: 42px;
		}

		&:before {
			content: '';
			display: block;
			background: url($img-path + 'left-arrow.png') center left no-repeat;
			width: 23px;
			height: 14px;
			margin-bottom: 10px;
			margin-left: 8px;
		}
	}

	.cover {
		position: fixed;
		top: 100vh;
		left: 0;
		width: 100%;
		height: 100vh;
		background-image: linear-gradient(to bottom right, #f43b47 0%, #453a94 100%);
		z-index: 999;
		transition: all .7s ease-in-out;

		&.visible {
			top: 0;
		}

		.text {
			font-family: 'lato-light';
			font-size: 45px;
			color: $white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			@media (max-width: 768px) {
				font-size: 25px;
			}
		}
	}

	.key-box {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .7);
		}

		.modal {
			width: 400px;
			border-radius: 3px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -200px;
			transform: translateY(-50%);
			background-color: $white;
			padding: 40px;

			.title {
				display: block;
				text-align: center;
				color: #212121;
				font-size: 24px;
				margin-bottom: 20px;
			}

			.select {
				display: block;
				width: 100%;
				height: 35px;
				background-color: $white;
				-webkit-appearance: none;
				-moz-appearance:    none;
				appearance:         none;
				border-radius: 3px;
				padding: 0 15px;
				text-align: center;
				outline: none;
			}

			.buttons-list__item {
				display: block;
				margin: 30px auto 0;
			}
		}
	}
}