.encryption {

	@media (max-width: 768px) {
		padding: 0 20px;
	}

	.page-title {
		color: $white;
		display: block;
		margin: 45px 0;
		text-align: center;
		font-family: 'lato-regular';
		font-size: 28px;
	}
	
	.side {
		width: 49%;

		@media (max-width: 768px) {
			width: 100%;
			margin-top: 40px;

			&:first-child {
				margin-top: 20px;
			}
		}

		.textarea {
			display: block;
			width: 100%;
			border-radius: 5px;
			background-color: #f1f1f1;
			height: 180px;
			margin-top: 10px;
			margin-bottom: 15px;
			box-shadow: 0 0 30px rgba(0, 0, 0, .75);
			padding: 15px;
			font-family: 'lato-regular';
			font-size: 18px;
			color: #222;
			outline: none;
			resize: none;

			@media (max-width: 768px) {
				height: 80px;
			}
		}

		.buttons-list__item {
			@media (max-width: 768px) {
				display: block;
				margin: 0 auto;
				height: 45px;
				line-height: 45px;
				float: none;
				width: 100%;
				font-size: 14px;
			}
		}
	}
}